@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/SegoeUILight.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SegoeUIRegular.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI SemiBold';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/SegoeUISemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/SegoeUIBold.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/SegoeUIItalic.woff) format('woff');
}
